spring:
 application:
  name: habit-tracker-api
 datasource:
  driver-class-name: org.postgresql.Driver
  hikari:
   data-source-properties:
    prepareThreshold: 0
 jpa:
  open-in-view: false
  show-sql: true
  properties:
   hibernate:
    format_sql: true
 flyway:
  enabled: true
  baseline-on-migrate: true
  baseline-version: 0
  locations: classpath:db/migration
 data:
  redis:
   url: ${REDIS_URL:redis://localhost:6379}
   timeout: 2000ms

habit:
 cleanup:
  retention-period: ${HABIT_RETENTION_PERIOD:P14D}
  schedule:
   cron: ${HABIT_CLEANUP_SCHEDULE_CRON:0 0 0 * * *}

user:
 cleanup:
  retention-period: ${USER_RETENTION_PERIOD:P14D}
  schedule:
   cron: ${USER_CLEANUP_SCHEDULE_CRON:0 0 0 * * *}

jwt:
 issuer: ${JWT_ISSUER:jwt-issuer}
 expiration-duration: ${JWT_EXPIRATION_DURATION:PT10M}
 not-before-leeway-duration: ${JWT_NOT_BEFORE_LEEWAY_DURATION:PT15S}
 clock-skew-seconds: ${JWT_CLOCK_SKEW_SECONDS:25}
refresh-token:
 expiration-duration: ${REFRESH_TOKEN_EXPIRATION_DURATION:P7D}

cors:
 allowed-origin-patterns: ${CORS_ALLOWED_ORIGINS:http://localhost:*}

management:
 endpoints:
  web:
   exposure:
    include: health,info
 endpoint:
  health:
   show-details: when-authorized