spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB}
    password: ${POSTGRES_PASSWORD}
    username: ${POSTGRES_USER}
  jpa:
    hibernate:
      ddl-auto: validate
  web:
    resources:
      add-mappings: false

logging:
  level:
    com.habittracker.api: DEBUG
    org.springframework.security: INFO

jwt:
  secret: ${JWT_SECRET}
